<html>

<head>
    <title>
        <%= locals.APPNAME %>
            <%= locals.VERSION %> - Home
    </title>
    <%- include('_inc_head') %>
        <link href="css/home.css" rel="stylesheet" />
</head>

<body>

    <nav class="col-6 offset-3">
        <div class="row">
            <div class="col-4">
                <a href="/home"><span class="fa fa-home"></span></a>
            </div>
            <div class="col-4">
                <a href="/home/profile">Profile</a>
            </div>
            <div class="col-4">
                <a href="logout"><span class="fa fa-lock"></span></a>
            </div>
        </div>
    </nav>

    <div id="publishForm" class="col-6 offset-3 card">
        <div class="card-header">
            <img height="60" width="60" style="border-radius: 50%;" src="../uploads/<%= locals.user.userpicture %>" />
            <h1>
                <%=locals.user.username %>
            </h1>
        </div>
        <form action="/home/getcategoryquestion" method="post">
            <div class="row">
                <div class="col-10 offset-1  ">
                    <h3>Select Category</h3>
                    <select name="category" id="category" class="form-control" required>
                        <option value="">Select Category to continue</option>
                        <option value="JavaScript">JavaScript</option>
                        <option value="Python">Node.js</option>
                        <option value="Python">ReactJS</option>
                        <option value="Python">AngularJS</option>
                        <option value="Python">Python</option>
                        <option value="HTML">HTML</option>
                        <option value="CSS">CSS</option>
                        <option value="C++">C++</option>
                        <option value="TypeScript">TypeScript</option>
                        <option value="Rust">Rust</option>
                        <option value="Scheme">Scheme</option>
                        <option value="Java">Java</option>
                        <option value="Kotlin">Kotlin</option>
                        <option value="C#">C#</option>
                        <option value="Perl">Perl</option>
                        <option value="PHP">PHP</option>
                        <option value="Scala">Scala</option>
                        <option value="Swift">Swift</option>
                        <option value="MATLAB">MATLAB</option>
                        <option value="SQL">SQL</option>
                        <option value="Golang">Golang (Go)</option>
                        <option value="Ruby">Ruby</option>
                    </select>

                    <div class=" mt-4 text-right">
                        <input required type="submit" value="Continue" class="btn btn-primary  btn-sm" />
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-6 offset-3 mt-5 ">
        <h3 class="alert alert-info"> All Users</h3>
    </div>
    <% locals.publicationsData.forEach( (publication)=> { %>
        <div class="col-6 offset-3 card mt-5 pb-4">
            <div class="card-header d-flex">
                <img height="40" width="40" style="border-radius: 50%;"
                    src="../uploads/<%= publication.userpicture %>" />
                <h3>
                    <%= publication.username %>
                </h3>
            </div>
            <div class="card-body">
                <h3>
                    Name : <%= publication.teamname %>
                </h3>
                <h3 style="text-transform: capitalize;">
                    Email : <%= publication.usermail %>
                </h3>
            </div>
        </div>
        <% }) %>
</body>

</html>